canvas
{
border: 2px solid black ;
animation-name:test;
animation-duration:4s;
animation-iteration-count: infinite ;

}
@keyframes test{
    from{
        box-shadow: 6px 6px 15px red ;
    }
    to{
        box-shadow: 6px 6px 15px yellow ;
    }
}
  
